@use "../variables" as v;

.add-on {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid var(--clr-light-gray);
  cursor: pointer;
  user-select: none;

  margin: 5rem;

  .checkbox {
    position: relative;
    border-radius: 4px;
    border: 1px solid var(--clr-light-gray);

    input {
      visibility: hidden;
    }

    &:has(input:checked) {
      background-color: var(--clr-purplish-blue);

      &::after {
        position: absolute;
        top: -1px;
        left: 4px;
        content: url("/assets/icon-checkmark.svg");
      }
    }
  }

  .title {
    font-weight: 700;
  }

  p {
    font-size: 0.8rem;
    margin: 0.3rem 0 0;
  }

  .price {
    margin-left: auto;
    color: var(--clr-purplish-blue);
  }

  &:has(input:checked) {
    border-color: var(--clr-pastel-blue);
    background-color: var(--clr-magnolia);
  }

  @media (min-width: v.$break-point) {
    gap: 1.5rem;
    padding: 1.5rem;
  }
}
