@use "../variables" as v;

.steps {
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: 25vh;
  padding-top: 2rem;
  background: url("/assets/bg-sidebar-mobile.svg") no-repeat,
    var(--clr-purplish-blue);
  background-size: cover;

  @media (min-width: v.$break-point) {
    display: grid;
    place-content: flex-start;
    gap: 2rem;
    height: 100%;
    padding: 2.5rem 2rem;
    border-radius: 9px;
    background: url("/assets/bg-sidebar-desktop.svg") no-repeat 100% 100%,
      var(--clr-purplish-blue);
    background-size: cover;
  }
}
