@use "../variables" as v;

.navigation {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 100%;
  padding: 0.8rem;
  background-color: var(--clr-white);

  @media (min-width: v.$break-point) {
    position: relative;
  }
}
