@use "variables" as v;
@forward "variables";
@forward "components";
@forward "sections";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  margin: 0;
  color: var(--clr-cool-gray);
  background-color: var(--clr-magnolia);

  @media (min-width: v.$break-point) {
    display: grid;
    place-content: center;
    height: 100vh;
  }
}

.App {
  h1,
  .title {
    color: var(--clr-marine-blue);
  }
  h1 {
    font-size: 1.55rem;
    margin: 0;
  }

  p {
    line-height: 2.5ch;
    margin-block: 0.8rem 1.5rem;
  }

  .main {
    .container {
      padding: 1.7rem 1.6rem;
      margin: 1rem;
      border-radius: 10px;
      background-color: var(--clr-white);
      transform: translateY(-17%);
    }
  }

  @media (min-width: v.$break-point) {
    display: flex;
    width: 80vw;
    max-width: 830px;
    height: 100%;
    padding: 1rem;
    border-radius: 12px;
    background-color: var(--clr-white);

    h1 {
      font-size: 2rem;
    }

    .steps {
      flex: 1 1 30%;
    }

    .main {
      flex: 1 1 65%;

      .container {
        transform: none;
      }
    }
  }
}
