@forward "variables";
@forward "components";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  margin: 0;
  color: var(--clr-cool-gray);
  background-color: var(--clr-magnolia);
}

h1,
.title {
  color: var(--clr-marine-blue);
}
